// normalize-css подключается с помощью postcss-normalize
@import (inline) '../node_modules/@material/menu/dist/mdc.menu.css';
@import (inline) '../node_modules/@material/menu-surface/dist/mdc.menu-surface.css';
@import (inline) '../node_modules/@material/list/dist/mdc.list.css';
@import "include/variables";
@import "include/utils";
@import "include/general";
@import "include/layout";

@import "../node_modules/swiper/src/less/core";


// common
.main-wrap {}
.main-inner {overflow: hidden;}
.list-simple {
    padding-left: 1em; line-height: 1.35;
    li + li {margin-top: 0.2em;}
}
.hr--short {width: 40px; border-top: 4px solid; margin: @default-indent auto; color: inherit;}
.hr--main {border-color: @c-orange;}
.hr--dark {border-color: rgba(0,0,0,0.4);}
.hr--left {margin-left: 0;}
.u-section {padding-top: 60px; padding-bottom: 60px;}
.u-section--top {padding-top: 60px;}
.u-text-medium {max-width: 640px; margin: 0 auto;}
.icon--white {fill: #fff;}
@media (min-width: @breakpoint-medium-up) {
    .hr--left-medium {margin-left: 0;}
    .u-section {padding-top: 80px; padding-bottom: 80px;}
    .u-section--top {padding-top: 80px;}
}
// common dropdown
@dropdown-translate: 20px;
@dropdown-transition: 0.175s;
.dropdown {position: relative; z-index: 1;}
.dropdown__content {
    position: absolute; left: 0; top: 100%; right: 0; opacity: 0; transform: translateY(-@dropdown-translate); z-index: -1; pointer-events: none; transition: @dropdown-transition;
    .is-active > & {opacity: 1; transform: translateY(0); pointer-events: auto;}
}
// common nav
.nav-panel {background: @c-orange; color: #fff; box-shadow: 0 12px 0 fade(#48100A, 50%); position: relative; z-index: 2;}
.nav-panel--index {
    transition: 0.2s; background: #ff5600;
    &.is-hidden {/*opacity: 0; */background: @c-brown; transition: 0.15s;}
}
.nav-panel__container {min-height: 64px; padding-top: 16px; padding-bottom: 20px; display: flex; align-items: center; justify-content: space-between;}
.nav-panel__inner {display: flex; align-items: center; justify-content: space-between; flex-direction: column; flex-grow: 2;}
.nav-panel__content {font-weight: 500; line-height: 24px; text-transform: uppercase; font-family: @heading-font-family; display: flex; align-items: center; letter-spacing: 0.02em; margin-bottom: 16px;}
.nav-panel__icon {margin-right: 20px; flex-shrink: 0; margin-top: -12px; width: 48px; height: 48px;}
.nav-panel__bonus-title {color: #FFD100; font-size: 33px; line-height: 1; font-weight: 700; margin-left: -1px;}
.nav-panel__bonus-description {font-size: 16px;}
@media (min-width: @breakpoint-mini-up) {
    .nav-panel__icon {margin-right: 30px; width: 58px; height: 58px;}
}
@media (min-width: @breakpoint-medium-up) {
    .nav-panel__icon {margin-right: 40px;}
}
@media (min-width: @breakpoint-large-up) {
    .nav-panel__container {padding-top: 24px; padding-bottom: 24px;}
    .nav-panel__inner { flex-direction: row;}
    .nav-panel__content {font-size: 20px; margin-bottom: 0; margin-right: 24px; text-align: left;}
    .nav-panel__button {flex-shrink: 0;}
}
// language
.language-switch {/*margin-left: 16px; flex-shrink: 0;*/}
.language-switch__button {font-size: 0; display: block; margin: -2px; padding: 2px; /* fix safari button overflow */}
.language-switch__button-icon {box-shadow: 0 0 0 1.2px #fff; border-radius: 50%; background: #fff; will-change: transform; /* fix firefox odd width */}
.language-switch__text {margin-right: 16px;}
@media (min-width: @breakpoint-small-up) {
    //.language-switch {margin-left: 32px;}
}
@media (min-width: @breakpoint-large-up) {
    //.language-switch {position: absolute; right: 32px; margin-left: 0;}
}
.mdc-menu {min-width: 135px;}



@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slide-header-container {
    0% {top: var(--header-top, 64px);}
    100% {top: 0;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes slide-up {
    0% {transform: translateY(30%);}
    100% {transform: translateY(0);}
}




// header
@header-height: 56px;
@header-link-padding: ((@header-height - 20px) / 2);
@header-link-margin: 30px;
@header-link-underline-height: 4px;
.header-link-after() {content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background: currentColor; opacity: 0.4;}
.header {
    position: relative; /* fallback */ position: sticky; left: 0; right: 0; top: 0; z-index: 10; min-height: @header-height; color: #fff; background: @c-brown;
    // required for offcanvas menu
}
.header__container {
    display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; top: 0;
    &::before {content: ''; position: absolute; left: 0; top: 0; right: 0; height: @header-height; z-index: -1; background: @c-brown; box-shadow: 0 2px 14px rgba(0,0,0,0.2);}
}
.header__logo {padding: 12px 0;}
.header__logo-image {display: block; font-size: 0;}
.header__menu {display: none; flex-direction: column; }
.header__link {
    padding: @header-link-padding 0; position: relative; font-size: 16px; line-height: 20px; font-weight: 700; text-decoration: none;
    &::after {.header-link-after(); transition: 0.15s;}
    &.is-active::after {height: @header-link-underline-height; opacity: 1;}
}
.header__controls {display: flex; align-items: center;}
// кнопка вешает .menu- классы на body
.header--menu-active {
    &::after {content: ''; background: @c-brown; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; }
    .header__menu {display: flex; padding-top: 10px; padding-bottom: 20px; order: 2; width: 100%;}
}
.header--menu-animate-in {
    animation: slide-header-container both 0.25s;
    &::after {animation: fade-in both 0.25s;}
    .header__menu {animation: fade-in both 0.4s 0.05s;}
    .header__link {animation: slide-up both 0.25s 0.05s}
    .header__link:nth-child(2) {animation-duration: 0.28s;}
    .header__link:nth-child(3) {animation-duration: 0.31s;}
    .header__link:nth-child(4) {animation-duration: 0.34s;}
    .header__link:nth-child(5) {animation-duration: 0.37s;}
    .header__link:nth-child(6) {animation-duration: 0.4s;}
}
.header--menu-animate-out {
    animation: slide-header-container reverse both 0.2s;;
    &::after {animation: fade-out both 0.25s 0.1s;}
    .header__menu {animation: fade-out both 0.2s;}
}
@menu-icon-size: 30px;
@menu-icon-transition: .25s;
@menu-icon-color: currentColor;
.header__offcanvas-button {
    display: block; width: @menu-icon-size; height: @menu-icon-size; position: relative; text-align: center; transition: 0.25s; margin-left: 20px;
    .is-modal-opened & {opacity: 0;}
}
.header__offcanvas-icon-wrap {width: 40px; height: 40px; position: absolute; left: 50%; top: 50%; margin-top: -20px; margin-left: -20px;}
.header__offcanvas-icon {
    transition: @menu-icon-transition; background: @menu-icon-color; position: absolute; height: 3px; width: @menu-icon-size; left: 50%; top: 50%; margin-left: -@menu-icon-size / 2; margin-top: -3px; font-size: 0;
    &:before, &:after {transition: @menu-icon-transition cubic-bezier(0.175, 0.885, 0.32, 1.275); background: @menu-icon-color; height: 100%; width: 100%; content: ''; position: absolute; left: 0;}
    &:before {top: 10px;}
    &:after {top: -10px;}
    .header__offcanvas-button.is-active & {
        background-color: transparent;
        &:before, &:after {transform-origin: 50% 50%; top: 0 !important;}
        &:before {transform: rotate3d(0, 0, 1, 45deg);}
        &:after {transform: rotate3d(0, 0, 1, -45deg);}
    }
}
@media (min-width: @breakpoint-small-up) {
    .header__logo {margin-right: 48px;}
}
@media (min-width: @breakpoint-large-up) {
    .header__menu {
        display: flex; flex-direction: row; flex-grow: 2;
        && {animation: none;}
    }
    .header__link {
        &::after {height: @header-link-underline-height; opacity: 0;}
        &:hover::after, &:focus::after {opacity: 0.4;}
        &.is-active::after {opacity: 1;}
        &+& {margin-left: @header-link-margin;}
    }
    .header__offcanvas-button {display: none;}
}
@media (min-width: @breakpoint-xlarge-up) {
    .language-switch {margin-right: 80px;}
}




// footer
.footer {background: @c-black; color: #fff; padding: 38px 0;}
.footer--ps {background: none;}
.footer__container {display: flex; justify-content: center; flex-wrap: wrap;}
.footer__logo-link {}
.footer__logo {width: 76px; display: block;}
.footer__menu {width: 100%; margin: 20px 0 0; padding: 0; text-align: center;}
.footer__menu-item {
    font-size: 14px; font-weight: 700; display: inline-block;
    &::after {content: ' | '; margin: 0 3px;}
    &:last-child::after {content: none;}
}
@media (min-width: @breakpoint-large-up) {
    .footer__container {align-items: center; justify-content: space-between;}
    .footer__container--ps {justify-content: center;}
    .footer__menu {width: auto; margin-top: 0;}
}



.article {overflow: hidden; position: relative; z-index: 1; background: @c-orange; }



// hero
.hero {
    color: #fff; position: relative;
    &::before, &::after {content: ''; position: absolute; z-index: -1;}
    &::before {background: #621910; transform: rotate(-10.5deg); left: -50%; right: -50%; top: -50%; bottom: 0;}
    &::after {background: url(../img/hero-bg-wave.svg) repeat-x 50% 101% #48100A /*#621910*/; top: 0; left: 0; right: 0; bottom: 0;}
}
.hero__content {
    font-size: 18px; position: relative; z-index: 1;
    p+p {margin-top: 20px;}
}
.hero__logo {display: inline-block; vertical-align: top; font-family: @heading-font-family; font-size: 56px; line-height: 94px; font-weight: 500;}
.hero__title {margin-top: 25px; margin-bottom: 20px; font-size: 30px; line-height: 36px;}
.hero__image {margin: 60px auto -70px; display: block; max-width: 80%;}
@media (min-width: @breakpoint-medium-up) {
    .hero__container {position: relative;}
    .hero__content {max-width: 400px;}
    .hero__image {position: absolute; left: 75%; top: 50%; transform: translate(-50%, -50%); max-width: 45%; margin: 0;}
}
@media (min-width: @breakpoint-large-up) {
    .hero {
        min-height: 623px;
        &::after {background-position: 50% 125px;}
    }
    .hero__content {max-width: 430px;}
    .hero__image {left: 77.5%; top: -13px; transform: translateX(-50%); max-width: none;}
}



// features
.index-features-skew {
    /*height: 102px; */position: relative; border: none; margin: 0;
    &::before, &::after {content: ''; position: absolute; z-index: -1;}
    &::after {background: linear-gradient(to bottom, #1B1D40 12px, #21234B 12px); transform: rotate(-10.5deg); left: -50%; right: -50%; top: -50px; height: 300px;}
}
.index-features {
    position: relative; color: #fff;
    &::before {content: ''; position: absolute; z-index: -2; left: 0; right: 0; top: 0; bottom: 0; background: #21234B;}
}
.index-features__icon {margin-top: 10px;}
@media (min-width: @breakpoint-medium-up) {
    .index-features {padding-top: 50px;}
    .index-features__icon {margin-top: 20px; margin-bottom: 5px;}
}
@media (min-width: @breakpoint-large-up) {
    .index-features-skew {
        &::after {top: -102px;}
    }
}
@media (min-width: 2100px) {
    .index-features-skew {
        &::before {right: 0; width: 25%; bottom: 0; height: 200px; background: #21234B;}
    }
}

// speed
.index-speed-skew {
    height: 120px; position: relative; border: none; margin: 0;
    &::before, &::after {content: ''; position: absolute; z-index: -1;}
    &::before {right: 0; width: 25%; top: 0; height: 100%; background: #21234B;}
    &::after {background: linear-gradient(to bottom, #21234B 164px, #1B1D40 164px, #1B1D40 176px, #2E305C 176px); transform: rotate(5deg); left: -50%; right: -50%; top: -100px; bottom: -100px;}
}
.index-speed {
    position: relative; color: #fff;
    &::before {content: ''; position: absolute; z-index: -2; left: 0; right: 0; top: -100px; bottom: 0; background: #2E305C;}
}
.index-speed__info {padding: 24px 24px 40px; margin: 40px 0; border-radius: 10px; background: #21234B; text-align: left;}
.index-speed__info-title {font-size: 20px; line-height: 1.3; letter-spacing: 0.031em; margin-bottom: 26px;}
.index-speed__info-list {
    list-style: none; padding: 0; margin: 0; font-weight: 700;
    li {display: flex; align-items: center;}
    li + li {margin-top: 16px;}
}
.index-speed__info-icon {margin-right: 16px;}
.index-speed__info-image {margin-bottom: -40px; display: block;}
.index-speed__info-caption {margin-bottom: 96px;}
.index-speed__info-caption-highlight {color: #fbb32b;}
.index-speed__exchange-grid {}
.index-speed__exchange-image {margin: 60px auto 0; display: block;}
.index-speed__exchange-caption {max-width: 520px; margin-left: auto; margin-right: auto; margin-bottom: 96px;}
@media (min-width: @breakpoint-medium-up) {
    .index-speed__info {display: flex; justify-content: space-between; align-items: flex-end; padding: 34px 40px 40px;}
    .index-speed__info-title {margin-right: -240px;}
    .index-speed__info-image {margin-top: -34px; flex-shrink: 0;}
}


// fees
//.index-fees-skew {
//    height: 100px; position: relative; border: none; margin: 0;
//    &::before, &::after {content: ''; position: absolute; z-index: -1; left: -50%; right: -50%;}
//    &::before {background: linear-gradient(to bottom, transparent 144px, #6F2C21 144px, #6F2C21 156px, @c-main 156px); transform: rotate(-2deg); top: -100px; bottom: -100px;}
//}
//.index-fees {
//    position: relative; color: #fff;
//    &::before {content: ''; position: absolute; z-index: -2; left: 0; right: 0; top: 20px; bottom: 0; background: @c-main;}
//}
.index-fees__grid {margin-bottom: 90px;}
.index-fees__image-wrap {max-width: 296px; margin: auto; text-align: center;}
.index-fees__image {display: block; margin: auto;}
.index-fees__image-caption {font-size: 14px; margin-top: 25px; font-weight: 700; letter-spacing: 0.022em;}


// team
.index-team__skew {
    height: 100px; position: relative; border: none; margin: 0;
    &::before, &::after {content: ''; position: absolute; z-index: -1; }
    &::before {left: 0; width: 25%; top: 0; height: 100%; background: #2E305C;}
    &::after {background: linear-gradient(to bottom, #2E305C 144px, #ebebeb 144px, #ebebeb 156px, #fff 156px); transform: rotate(-4deg); left: -50%; right: -50%; top: -100px; bottom: -100px;}
}
.index-team__lead {margin-bottom: 32px;}
.index-team__item {}
.index-team__cell {line-height: 1.3;}
.index-team__avatar {max-height: 150px; margin: 0 auto 5px; display: block;}
.index-team__name {font-weight: 700;}
@media (min-width: @breakpoint-medium-up) {
    .index-team__avatar {max-height: none;}
}
@gradient-white-ease: rgba(255,255,255,0) 0%, rgba(255,255,255,0.044) 14.8%, rgba(255,255,255,0.146) 26.5%, rgba(255,255,255,0.269) 35.9%, rgba(255,255,255,0.401) 44.2%, rgba(255,255,255,0.534) 52%, rgba(255,255,255,0.67) 60.1%, rgba(255,255,255,0.797) 68.8%, rgba(255,255,255,0.911) 79.2%, #fff;
@slider-arrow-size: 40px;
.index-team__slider-wrap {position: relative; margin: 25px -@container-padding 0;}
.index-team__slider {padding: 0 @container-padding;}
.swiper-button-prev, .swiper-button-next {
    position: absolute; top: 57px; z-index: 3; width: 36px; height: 36px; transition: .2s; cursor: pointer; background: no-repeat 50% 50% #fff; border-radius: 50%; box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    &:hover, &:focus {box-shadow: 0 2px 6px rgba(0,0,0,0.2);}
    [dir="rtl"] & {transform: rotateY(180deg);}
}
.swiper-button-prev {left: 10px; background-image: url(../img/icon-slider-arrow-left.svg);}
.swiper-button-next {right: 10px; background-image: url(../img/icon-slider-arrow-right.svg);}
@media (min-width: @breakpoint-small-up) {
    .index-team__cell {width: 45%; margin-right: 30px; /* preserve height until swiper is loaded */}
}
@media (min-width: @breakpoint-medium-up) {
    .index-team__slider-wrap {margin: 25px -@container-padding-large 0;}
    .index-team__slider {
        padding: 0 @container-padding-large;
        &::before, &::after {width: @container-padding-large;}
    }
    .index-team__cell {width: 29.9%; margin-right: 40px; /* preserve height until swiper is loaded */}
    .swiper-button-prev, .swiper-button-next {top: 80px; width: @slider-arrow-size; height: @slider-arrow-size;}
}
@media (min-width: @breakpoint-large-up) {
    .index-team__slider {
        &::before, &::after {content: ''; position: absolute; top: 0; bottom: 0; z-index: 2; width: @container-padding;}
        &::before {left: 0; background: linear-gradient(to left, @gradient-white-ease);}
        &::after {right: 0; background: linear-gradient(to right, @gradient-white-ease);}
    }
    .swiper-button-prev {right: 100%; left: auto;}
    .swiper-button-next {left: 100%; right: auto;}
}




// ton
.index-ton {
    color: #fff; position: relative;
    &::before {content: ''; position: absolute; left: 0; top: -100px; right: 0; bottom: 0; background: #333617; z-index: -2;}
}
.ton__skew {
    height: 100px; position: relative;
    &::before, &::after {content: ''; position: absolute; z-index: -1;}
    &::before {right: 0; top: 0; width: 25%; height: 100%; background: #fff;}
    &::after {background: linear-gradient(to bottom, #fff 144px, #26280E 144px, #26280E 156px, #333619 156px); transform: rotate(5deg); left: -50%; right: -50%; top: -100px; bottom: -100px;}
}
.ton__header {background: #333619;}
.ton__feature-list-description {margin-top: 60px;}
.ton__feature-list {margin-top: 32px;}
.ton__feature {
    text-align: center; break-inside: avoid; page-break-inside: avoid; //@TODO postcss-preset-env
    &+& {margin-top: 32px;}
}
@media (min-width: @breakpoint-medium-up) {
    .ton__feature-list {columns: 2; column-gap: 50px;}
    .ton__feature {text-align: left;}
}
.ton__join {background: #3A3D1A; padding: 40px 0;}

// index social
.index-social {background: #333617; color: #fff;}
.ton__social-grid {display: flex; flex-wrap: wrap; margin-top: -14px; margin-left: -48px;}
.ton__social-cell {
    margin-top: 24px; margin-left: 48px;
}
.ton__social-group {margin-top: -2px; display: flex; flex-wrap: wrap; margin-left: -16px;}
.ton__social-link {
    margin-left: 16px; margin-top: 16px; padding: 9px; color: #fff; box-shadow: 0 2px 4px rgba(0,0,0,0.4); font-size: 0;
    &:last-child {margin-right: 0;}
}
.ton__social-link--tg {
    background: #0D86D7;
    &:hover, &:focus {background: tint(#0D86D7, 12%);}
    &:active {background: shade(#0D86D7, 10%);}
}
.ton__social-link--tw {
    background: #38A9E4;
    &:hover, &:focus {background: tint(#38A9E4, 12%);}
    &:active {background: shade(#38A9E4, 10%);}
}
.ton__social-link--li {
    background: #0077B5;
    &:hover, &:focus {background: tint(#0077B5, 12%);}
    &:active {background: shade(#0077B5, 10%);}
}
.ton__social-link--vk {
    background: #4872a3;
    &:hover, &:focus {background: tint(#4872a3, 12%);}
    &:active {background: shade(#4872a3, 10%);}
}
.ton__social-link--fb {
    background: #4267B2;
    &:hover, &:focus {background: tint(#4267B2, 12%);}
    &:active {background: shade(#4267B2, 10%);}
}
.ton__social-link--gh {
    background: #1A1919;
    &:hover, &:focus {background: tint(#1A1919, 12%);}
    &:active {background: shade(#1A1919, 10%);}
}
.ton__social-link--mm {
    background: #12100E;
    &:hover, &:focus {background: tint(#12100E, 12%);}
    &:active {background: shade(#12100E, 10%);}
}
.ton__social-link--rd {
    background: #FF4501;
    &:hover, &:focus {background: tint(#FF4501, 12%);}
    &:active {background: shade(#FF4501, 10%);}
}


// index links
.index-links {
    color: #fff; position: relative;
    &::before {content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url(../img/hero-bg-wave-green.svg) repeat-x 50% 100% #333617; z-index: -1;}
}
.index-links__group { margin-top: 40px;
    //&+& {margin-top: 40px;}
}
.index-links__caption {font-size: 14px; font-weight: 500; text-transform: uppercase; margin-bottom: 16px; font-family: @heading-font-family; letter-spacing: 0.015em; color: #A6A98B;}
.index-links__list {padding: 0; margin: -5px 0; list-style: none;}
.index-links__item {padding: 5px 0; line-height: 1.3; break-inside: avoid; page-break-inside: avoid;}
.index-links__link {
    &,&:hover,&:focus,&:active {color: #EC5C24;}
}
.index-links__heroes-image {margin: 64px auto 0; display: block; position: relative; z-index: -1;}

@media (min-width: @breakpoint-medium-up) {
    .index-links__list {columns: 2;}
}





// private sale
.body--ps {background: #163553; color: #fff;}
.main-wrap--ps {min-height: 100vh; display: flex; flex-direction: column; }
.article--ps {flex-grow: 2; width: 100%;}
.ps__container {position: relative;}
.ps__image {width: 280px; max-width: 100%; /*margin-bottom: -50px;*/ margin-top: 24px;}
.ps__text-width {max-width: 580px;}
.ps__sumsub-logo {margin-bottom: 16px;}
.ps__form-input, .ps__form-button {min-width: 320px; width: auto;}
.ps__form-button {padding-left: 24px; padding-right: 24px;}
.ps__form-success {min-height: 100px; /*display: flex; align-items: center;*/}
.ps__form-error {color: #ff4646;}
@media (max-width: @breakpoint-mini-down) {
    .ps__form-button {
        padding-left: 10px; padding-right: 10px;
        .button__icon {margin-right: 10px;}
    }
}
@media (min-width: @breakpoint-medium-up) {
    .ps__image {/*position: absolute; top: -35px; right: 0; z-index: -1;*/ margin: 0; width: auto; margin-top: -35px; }
    .ps__sumsub {display: flex; align-items: flex-start;}
    .ps__sumsub-logo {margin-right: 36px; flex-shrink: 0; margin-bottom: 0;}
}
