{% macro feature(title, descriptions, imageSrc) %}
    <section class="feature u-grid u-grid--align-center">
        <div class="feature__image-cell u-cell u-cell--medium--4-10">
            <div class="feature__image-wrap">
                <img class="feature__image" src="{{ imageSrc }}" alt="" role="presentation">
            </div>
        </div>
        <div class="u-cell u-cell--medium--6-10">
            <h2 class="u-h2">{{ title | safe }}</h2>
            <hr class="feature__hr hr--main hr--short">
            {% for item in descriptions %}
                <p>{{ item }}</p>
            {% endfor %}
        </div>
    </section>
{% endmacro %}