<menu class="footer__menu">
    {% for link in __footer__ %}
        <div class="footer__menu-item">
            <a class="footer__link link--hover" href="{{ link.url }}" target="_blank" rel="nofollow noopener">{{ link.title[__locale__] }}</a>
        </div>
    {% endfor %}
</menu>
