<footer class="footer">
    <div class="footer__container u-container u-container--large">
        <a class="footer__logo-link" href="#intro" data-section-link="intro">
            <img class="footer__logo" src="/img/minter-logo-white.svg" alt="Minter">
        </a>
        {% include 'layouts/_footer-menu.njk' %}
    </div>
</footer>
