<header class="header" data-header>
    <div class="header__container u-container u-container--large" data-header-container>
        <a class="header__logo" href="#intro" data-header-logo data-section-link="intro">
            {# размеры у лого заданы чтобы сразу правильно расчиталось в js #}
            <img class="header__logo-image" src="/img/minter-logo-circle.svg" alt="Minter" width="32" height="32">
        </a>
        <nav class="header__menu" data-header-menu>
            <a class="header__link is-active" href="#network" data-section-link="network">{{  "Network"|i18n('link-network') }}</a>
            {#<a class="header__link" href="#apps" data-section-link="apps">{{ "Apps"|i18n('link-apps') }}</a>#}
            <a class="header__link" href="#team" data-section-link="team">{{ "Team"|i18n('link-team') }}</a>
            <a class="header__link" href="#ton" data-section-link="ton">{{ "TON"|i18n('link-ton') }}</a>
            {#<a class="header__link" href="#airdrop" data-section-link="airdrop">{{ "Airdrops"|i18n('link-airdrop') }}</a>#}
            <a class="header__link" href="#links" data-section-link="links">{{ "Links"|i18n('link-links') }}</a>
        </nav>

        <div class="header__controls">
            {% include 'layouts/_header-language.njk' %}

            <button class="header__offcanvas-button u-semantic-button" data-header-button>
                <span class="header__offcanvas-icon-wrap">
                    <span class="header__offcanvas-icon">Menu</span>
                </span>
            </button>
        </div>
    </div>
</header>
