<header class="header" data-header>
    <div class="header__container u-container u-container--large" data-header-container>
        <a class="header__logo" href="#network" data-header-logo data-section-link="network">
            {# размеры у лого заданы чтобы сразу правильно расчиталось в js #}
            <img class="header__logo-image" src="/img/minter-logo-circle.svg" alt="Minter" width="32" height="32">
        </a>
        <nav class="header__menu" data-header-menu>
            <a class="header__link is-active" href="#network" data-section-link="network">{{  "Network"|i18n('link-network') }}</a>
            <a class="header__link" href="#speed" data-section-link="speed">{{ "Speed"|i18n('link-speed') }}</a>
            <a class="header__link" href="#coins" data-section-link="coins">{{ "Coins"|i18n('link-coins') }}</a>
            <a class="header__link" href="#rewards" data-section-link="rewards">{{ "Rewards"|i18n('link-revenue') }}</a>
            <a class="header__link" href="#team" data-section-link="team">{{ "Team"|i18n('link-team') }}</a>
            <a class="header__link" href="#ton" data-section-link="ton">{{ "TON"|i18n('link-ton') }}</a>
            <a class="header__link" href="#social" data-section-link="social">{{ "Social"|i18n('link-social') }}</a>
            <a class="header__link" href="#docs" data-section-link="docs">{{ "Docs"|i18n('link-links') }}</a>
        </nav>

        <div class="header__controls">
            {% include 'layouts/_header-language.njk' %}

            <button class="header__offcanvas-button u-semantic-button" data-header-button>
                <span class="header__offcanvas-icon-wrap">
                    <span class="header__offcanvas-icon">Menu</span>
                </span>
            </button>
        </div>
    </div>
</header>
