{% set localePrefix = '' if __locale__ === 'en' else '/' + __locale__ %}
{% set localePrefixEnRu = '/ru' if __locale__ === 'ru' else '' %}
{% set direction = 'rtl' if __locale__ === 'sa' else 'ltr'  %}
{% set host = 'https://www.minter.network' %}

<!doctype html>
<html lang="{{ __locale__ }}" dir="{{ direction }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {# seo #}
    <title>{{ page_title + " — Minter" if page_title else "Minter" }}</title>
    <meta name="description" content="{{ page_description | default("We mint coins") }}">
    <meta property="og:title" content="{{ page_title | default("Minter") }}">
    <meta property="og:description" content="{{ page_description | default("We mint coins") }}">
    <meta property="og:image" content="{{ page_social_image | default("/social-share" + ('-ru' if __locale__ === 'ru') + ".png") }}">
    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="canonical" href="{{ host + localePrefix + __locationPath__ }}">
    {% for code, locale in __locales__ %}
        {% if locale.code !== __locale__ %}
            <link rel="alternate" hreflang="{{ locale.code }}" href="{{ host + ('' if locale.code === 'en' else '/' + locale.code) + __locationPath__ }}" />
        {% endif %}
    {% endfor %}

    {# styles #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500,700&amp;subset=cyrillic" rel="stylesheet">
    {% if direction === 'ltr' %}
        <link href="/css/style.min.css" rel="stylesheet">
    {% else %}
        <link href="/css/style.rtl.min.css" rel="stylesheet">
    {% endif %}
</head>
<body class="{{ body_class }}">

<div class="main-wrap">
    {% block body %}{% endblock %}
</div>

{% block scripts %}
    <script src="/js/vendor.min.js"></script>
    <script src="/js/common.min.js"></script>
{% endblock %}

{% include 'layouts/_seo-gtm.njk' %}
</body>
</html>





