{% set localePrefix = '' if __locale__ === 'en' else '/' + __locale__ %}

<!doctype html>
<html lang="{{ __locale__ }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {# seo #}
    <title>{{ page_title + " — Minter" if page_title else "Minter" }}</title>
    <meta name="description" content="{{ page_description | default("We mint coins") }}">
    <meta property="og:title" content="{{ page_title | default("Minter") }}">
    <meta property="og:description" content="{{ page_description | default("We mint coins") }}">
    <meta property="og:image" content="{{ page_social_image | default("/social-share" + ('-ru' if __locale__ === 'ru') + ".png") }}">
    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {# styles #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500&amp;subset=cyrillic" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
</head>
<body class="{{ body_class }}">

<div class="main-wrap">
    {% block body %}{% endblock %}
</div>

{% block scripts %}
    <script src="/js/vendor.min.js"></script>
    <script src="/js/common.min.js"></script>
{% endblock %}

{% include 'layouts/_seo-gtm.njk' %}
</body>
</html>





