{% extends "layouts/base.njk" %}

{% block body %}

    <div class="nav-panel nav-panel--index" data-section="network" id="network" data-nav-panel>
        <div class="u-container u-container nav-panel__container">
            <div class="nav-panel__inner">
                <div class="nav-panel__content nav-panel__bonus-wrap">
                    <span class="nav-panel__icon">🚀</span>
                    <span class="nav-panel__bonus-content">
                        {{ "The main network will be launched before the <strong>1st&nbsp;of&nbsp;May</strong>. You&nbsp;can still get BIP tokens at the pre-sale price"|i18n('index-bonus-description')|safe }}
                    </span>
                </div>
                <a class="nav-panel__button button button--main" href="https://minternetwork.com{{ localePrefixEnRu }}/invite/helloworld" target="_blank">
                    {{ "Request BIP"|i18n('index-bonus-button') }}
                </a>
            </div>
            {#{% include 'partials/language.njk' %}#}
        </div>
    </div>
    {% include 'layouts/_header.njk' %}
    {% block content %}{% endblock %}
    {#{% include 'layouts/_footer.njk' %}#}
{% endblock %}





