{% extends "layouts/default.njk" %}
{% set page_title = "Home Page"|i18n('index-seo-title')|safe %}
{% set page_description = "Create a cryptocurrency of your own. Build and run apps powered by the Minter blockchain."|i18n('index-seo-description')|safe %}

{% from "partials/ton-feature.njk" import feature as tonFeature %}

{% block content %}
    <article>
        <section class="hero">
            <div class="hero__container u-section u-container">
                <div class="hero__content">
                    <img class="hero__logo" src="/img/minter-logo-white.svg" width="213" height="67" alt="Minter">
                    <h1 class="u-h2 hero__title">{{ "Bitcoin was invented a decade ago. Isn’t it time for&nbsp;the next&nbsp;step?"|i18n('hero-title')|safe }}</h1>
                    <p>{{ "Imagine a blockchain that would allow you to create your own coin and transfer it or exchange it for all of the other coins issued in the network—as well as Bitcoin, Ether, and even USD—in an instant, limitless manner. Imagine the next-generation cryptocurrencies."|i18n('hero-description')|safe }}</p>
                    <p><strong>{{ "That’s Minter."|i18n('hero-minter')|safe }}</strong></p>
                </div>
                <img class="hero__image" src="/img/hero-minter.svg" alt="" role="presentation">
            </div>
        </section>

        <hr class="index-features-skew">
        <section class="index-features u-section u-text-center">
            <div class="u-container">
                <h2 class="u-h2">{{ "Let’s get it straight"|i18n('index-features-title') }}</h2>
                <hr class="hr--dark hr--short">
                <div class="u-grid u-grid--vertical-margin">
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-speed.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "All transactions are processed every&nbsp;five&nbsp;seconds"|i18n('index-features-item1')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-exchange.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "All coins can be exchanged for one another and also for Bitcoin, Ether, and&nbsp;USD"|i18n('index-features-item2')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-coins.svg?v2" width="75" height="75" alt="" role="presentation">
                        <p>{{ "Anyone can create their own coin and set its&nbsp;price"|i18n('index-features-item3')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-dpos.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "The DPoS consensus algorithm ensures high reliability, which means both validators and delegators will profit from maintaining the&nbsp;network"|i18n('index-features-item4')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-tx.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "Thousands of transactions per&nbsp;second with no delays or&nbsp;additional confirmations&nbsp;needed"|i18n('index-features-item5')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-apps.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "An extensive choice of applications, ranging from wallets and the console to full-fledged cryptocurrency exchanges and other exchange&nbsp;services"|i18n('index-features-item6')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-docs.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "Full documentation and open-source software"|i18n('index-features-item7')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-community.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "A large community of users and&nbsp;developers"|i18n('index-features-item8')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--small--1-2 u-cell--medium--1-3">
                        <img class="index-features__icon" src="/img/feature-fees.svg" width="75" height="75" alt="" role="presentation">
                        <p>{{ "Transaction fees  below&nbsp;$0.01"|i18n('index-features-item9')|safe }}</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="index-speed-skew">
        <section class="index-speed u-section u-text-center">
            <div class="u-container">
                <h2 class="u-h2">{{ "Speed"|i18n('index-speed-title') }}</h2>
                <hr class="hr--dark hr--short">
                <p class="u-text-medium">
                    {{ "Too fast to be true. And it is, thanks to the unique Tendermint engine atop the DPoS consensus algorithm. Up to 10,000 transactions per block every five seconds. And that is not the limit! Forget about delays or waiting for another confirmation. You press the button, and your transaction is&nbsp;sent."|i18n('index-speed-description')|safe }}
                </p>
                <div class="index-speed__info">
                    <div>
                        <h3 class="index-speed__info-title">{{ "Number of Transactions per&nbsp;Second"|i18n('index-speed-info-title')|safe }}</h3>
                        <ul class="index-speed__info-list">
                            <li>
                                <img class="index-speed__info-icon" src="/img/icon-coin-btc.svg" width="32" height="32" alt="" role="presentation">
                                Bitcoin
                            </li>
                            <li>
                                <img class="index-speed__info-icon" src="/img/icon-coin-eth.svg" width="32" height="32" alt="" role="presentation">
                                Ethereum
                            </li>
                            <li>
                                <img class="index-speed__info-icon" src="/img/icon-coin-mnt-testnet.svg" width="32" height="32" alt="" role="presentation">
                                Minter&nbsp;Testnet
                            </li>
                            <li>
                                <img class="index-speed__info-icon" src="/img/icon-coin-mnt-mainnet.svg" width="32" height="32" alt="" role="presentation">
                                Minter&nbsp;Mainnet
                            </li>
                            <li>
                                <img class="index-speed__info-icon" src="/img/icon-coin-mnt-21.svg" width="32" height="32" alt="" role="presentation">
                                Minter&nbsp;2021
                            </li>
                        </ul>
                    </div>
                    <img class="index-speed__info-image" src="/img/index-speed.svg" alt="" role="presentation">
                </div>
                <p class="index-speed__info-caption u-h u-h3 u-text-center">{{ "Minter is"|i18n('index-speed-caption-1')|safe }} <span class="index-speed__info-caption-highlight">{{ "200 times"|i18n('index-speed-caption-2')|safe }}</span> {{ "faster than its grandpa!"|i18n('index-speed-caption-3')|safe }}</p>

                <div class="index-speed__exchange-grid u-grid u-grid--vertical-margin u-text-center">
                    <div class="u-cell u-cell--medium--1-2">
                        <h3 class="u-h2">{{ "Coin Issuance"|i18n('index-coins-title')|safe }}</h3>
                        <hr class="hr--dark hr--short">
                        <p>{{ "Money is a tool for exchanging value. Today,  the&nbsp;value is produced by many people and companies, for example, popular Internet shops and services, new YouTubers or Instagramers, mobile games, or communities of people. They do all need their own money and on their own&nbsp;terms."|i18n('index-coins-description')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--medium--1-2">
                        <h3 class="u-h2">{{ "Exchangeability"|i18n('index-exchange-title')|safe }}</h3>
                        <hr class="hr--dark hr--short">
                        <p>{{ "All coins can be exchanged both within and outside the network. There is little sense in creating a currency that cannot be used to pay for goods and services around the world. That is why enabling you to exchange any coin for Bitcoin, Ether, and even USD whenever you want is one of Minter’s primary features. Why not use miles you got for riding the taxi to pay for flight&nbsp;tickets?"|i18n('index-exchange-description')|safe }}</p>
                    </div>
                </div>
                <img class="index-speed__exchange-image" src="/img/index-coins.svg" alt="" role="presentation">
                <p class="index-speed__exchange-caption u-h u-h3">{{ "Make real-world payments with any coin issued in the Minter&nbsp;network!"|i18n('index-exchange-image-caption')|safe }}</p>
                <img class="index-speed__heroes-image" src="/img/index-heroes.svg" alt="" role="presentation">
            </div>
        </section>



        <hr class="index-fees-skew">
        <section class="index-fees u-section">
            <div class="u-container">
                <div class="index-fees__grid u-grid u-grid--vertical-margin u-grid--align-center">
                    <div class="u-cell u-cell--medium--1-2">
                        <h2 class="u-h2">{{ "Transaction Fees"|i18n('index-fees-title') }}</h2>
                        <hr class="hr--dark hr--short hr--left">
                        <p>{{ "Transaction fees are so low that they don’t even bother anyone. Just to remind you, they do not exceed $0.01, regardless of the volume of an exchange or transfer&nbsp;operation."|i18n('index-fees-description')|safe }}</p>
                        <p>{{ "That is all because we have a high network throughput, thousands of transactions per second, meaning validators can make good money even with&nbsp;commission fees set so&nbsp;low."|i18n('index-fees-description2')|safe }}</p>
                    </div>
                    <div class="u-cell u-cell--medium--1-2">
                        <div class="index-fees__image-wrap">
                            <img class="index-fees__image" src="/img/index-fee.svg" alt="" role="presentation">
                            <p class="index-fees__image-caption">{{ "Fees at a Maximum Transaction&nbsp;Speed"|i18n('index-fees-image-caption')|safe }}</p>
                        </div>
                    </div>
                </div>
                
                <h2 class="u-h2  u-text-center">{{ "Revenues of Validators and Delegators"|i18n('index-revenue-title') }}</h2>
                <hr class="hr--dark hr--short">
                <p class="u-text-medium u-text-center">
                    {{ "All of the income plus transaction fees go to our validators and their delegators as it is they who support our network. DPoS implies the simplest block generation mechanisms on relatively affordable equipment, but with a high degree of integrity. These servers will receive 98% of the total BIP supply and 100% of transaction fees."|i18n('index-revenue-description')|safe }}
                </p>
            </div>
        </section>




        {# Team #}
        <hr class="index-team__skew">
        <section class="u-section u-container u-text-center">
            <h2 class="u-h2">{{ "Team"|i18n('team-title') }}</h2>
            <hr class="hr--main hr--short">
            <p class="u-text-medium">{{ "To date, the Minter team consists of 20 people, among whom are blockchain developers and experienced front-end/back-end professionals. From the very beginning, we strive to build stylish, sophisticated applications for mobile users, so&nbsp;we have recruited accomplished designers and iOS/Android experts with the enormous expertise to join&nbsp;us."|i18n('team-description')|safe }}</p>
            <div class="index-team__slider-wrap">
                <div class="swiper-container index-team__slider" data-team-slider>
                    <div class="swiper-wrapper">
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-gordeev.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Eugene Gordeev"|i18n('team-owner-name') }} <br>
                                {{ "Product Owner"|i18n('team-owner') }}</p>
                            <p class="index-team__description">{{ "Visionary, advocate for user-friendly products. Venture investor, Bitcoin evangelist since 2013, founder of many projects at the earliest stage of markets—online advertising, mobile applications, Big Data, and currently blockchain."|i18n('team-owner-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-lashin.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Daniil Lashin"|i18n('team-lashin-name') }} <br>
                                {{ "Blockchain Developer"|i18n('team-blockchain') }}</p>
                            <p class="index-team__description">{{ "In charge of the Minter core. Blockchain wunderkind, total dev experience is seven years, with three of them in blockchain. Age:&nbsp;21. "|i18n('team-lashin-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-malyavin.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Vasiliy Malyavin"|i18n('team-malyavin-name') }} <br>
                                {{ "Blockchain Developer"|i18n('team-blockchain') }}</p>
                            <p class="index-team__description">{{ "Systematizes Minter integration with off-chain world. Developer with eight years of experience in mobile, CRM, and e-commerce application projects. Realized decentralization was the next big thing before it was too late."|i18n('team-malyavin-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-dulin.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Daniil Dulin"|i18n('team-dulin-name') }} <br>
                                {{ "Backend Developer"|i18n('team-backend') }}</p>
                            <p class="index-team__description">{{ "Develops Explorer and its API. Dev experience amounts to 12 years, among which two in blockchain products."|i18n('team-dulin-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-kamil.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Kamil Mukhametzyanov"|i18n('team-kamil-name') }} <br>
                                {{ "Backend Developer"|i18n('team-backend') }}</p>
                            <p class="index-team__description">{{ "Author of Telegram bot wallets, PHP SDK. Young and promising, six years in backend, two in blockchain. Deems Telegram superior to other messengers."|i18n('team-kamil-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-eybog.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Nikita Eybog"|i18n('team-eybog-name') }} <br>
                                {{ "Frontend Developer"|i18n('team-frontend') }}</p>
                            <p class="index-team__description">{{ "All things web—Console, wallets, pages. Author of JS SDK. Five years in web development, expertise in creating SPAs, responsive layouts, and animation. Loves working overtime."|i18n('team-eybog-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-maximovich.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Eduard Maximovich"|i18n('team-maximovich-name') }} <br>
                                {{ "Android Developer"|i18n('team-android') }}</p>
                            <p class="index-team__description">{{ "Developed and now improves Android wallet, authored Android SDK. Four years of experience in mobile dev for Android, seven in backend dev for web projects. Developer of desktop and system software for *nix systems. Vaper."|i18n('team-maximovich-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-sidorov.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Alexey Sidorov"|i18n('team-sidorov-name') }} <br>
                                {{ "iOS Developer"|i18n('team-ios') }}</p>
                            <p class="index-team__description">{{ "Author of iOS wallet and iOS SDK. Total experience in app development is 10 years, with last five years focused on iOS applications. Launched his own startups, raised funds. User security guard."|i18n('team-sidorov-description')|safe }}</p>
                        </div>
                        <div class="index-team__cell swiper-slide">
                            <img class="index-team__avatar" src="/img/team-davidov.svg" height="200" alt="" role="presentation">
                            <p class="index-team__name">{{ "Ariil Davydov"|i18n('team-designer-name') }} <br>
                                {{ "Designer"|i18n('team-designer') }}</p>
                            <p class="index-team__description">{{ "We know nothing about him, yet he helped us a lot."|i18n('team-designer-description')|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev" data-swiper-prev></div>
                <div class="swiper-button-next" data-swiper-next></div>
            </div>
        </section>

        
        {# TON #}
        <div class="index-ton">
            <div class="ton__skew"></div>
            <section class="u-section">
                <div class="u-container">
                    <h1 class="u-h2">{{ "Integration With Telegram Open Network"|i18n('ton-title')|safe }}</h1>
                    <hr class="hr--left hr--main hr--short">

                    <div class="u-grid u-grid--vertical-margin u-grid--align-center">
                        <div class="u-cell u-cell--medium--4-10">
                            <p>{{ "We have been closely watching various technologies and blockchains for the past few years and waited carefully for the moment when we could definitely say in what we believe and with whom we would like to integrate. Our choice fell on Telegram Open Network (TON)."|i18n('ton-description')|safe }}</p>
                        </div>
                        <div class="u-cell u-cell--medium--6-10 u-text-center">
                            <img src="/img/index-ton.svg" alt="" role="presentation">
                        </div>
                    </div>


                    <p class="ton__feature-list-description">{{ "We link our future to TON and believe that with this network, we will be able to implement all of our ideas to the fullest. Below is a step-by-step approach we will take in 2019 to integrate Minter with TON:"|i18n('ton-description-features')|safe }}</p>

                    <div class="ton__feature-list">
                        {{ tonFeature(
                            title = "Transfer of Any Minter-Issued Coin to&nbsp;TON"|i18n('ton-feature-transfer-title')|safe,
                            descriptions = [
                                "One will be able to transfer any coin from the Minter blockchain to that of TON. Minter network’s validators will initiate the transfer automatically. Once the transaction is accepted by TON’s validators, the coins will be available for use within the Telegram Open Network. The transfer of coins from TON to Minter will also be automatic (available only for those created in&nbsp;Minter)."|i18n('ton-feature-transfer-description')|safe
                            ],
                            imageSrc = '/img/ton-transfer.svg'
                        ) }}

                        {{ tonFeature(
                            title = "TON Storage for&nbsp;User&nbsp;Data"|i18n('ton-feature-storage-title')|safe,
                            descriptions = [
                                "Minter users will be able to store their data on the TON blockchain, benefitting from its security and&nbsp;immutability."|i18n('ton-feature-storage-description')|safe
                            ],
                            imageSrc = '/img/ton-storage.svg'
                        ) }}

                        {{ tonFeature(
                            title = "TON for Micropayments"|i18n('ton-feature-payments-title')|safe,
                            descriptions = [
                                "With TON Payments, users will be able to send and receive micropayments in Minter-based coins with the help of the Lightning Network. It&nbsp;will be very useful for services that have to often transact in small amounts (for instance, an ad service charging for each&nbsp;view)."|i18n('ton-feature-payments-description')|safe
                            ],
                            imageSrc = '/img/ton-payments.svg'
                        ) }}

                        {{ tonFeature(
                            title = "Exchange of Coins"|i18n('ton-feature-exchange-title')|safe,
                            descriptions = [
                                "We will become the world’s first-ever project to reach the exchangeability of its native digital coin (in our case, BIP) and TON’s base coin (GRAM). That is the reason why we have been actively working out the way to integrate with Telegram and also the reason behind our decision to conduct the KYC/AML procedure for all of our users. If BIP can be exchanged for GRAM (and the other way round), so&nbsp;can any other coin issued in the Minter&nbsp;network!"|i18n('ton-feature-exchange-description')|safe
                            ],
                            imageSrc = '/img/ton-exchange.svg'
                        ) }}

                        {{ tonFeature(
                            title = "Smart Contracts"|i18n('ton-feature-contracts-title')|safe,
                            descriptions = [
                                "The coin transfer feature will enable us to use the Telegram Open Network’s smart contracts. Everyone is doing their job to&nbsp;the best of their ability—we mint coins that can later be implemented in the TON’s smart contract environment, one of&nbsp;the most advanced&nbsp;ever."|i18n('ton-feature-contracts-description')|safe
                            ],
                            imageSrc = '/img/ton-contract.svg'
                        ) }}

                        {{ tonFeature(
                            title = "Decentralized Username Registration"|i18n('ton-feature-username-title')|safe,
                            descriptions = [
                                "Once TON DNS launches, users will be able to use it for registering and managing usernames in the Minter network. Users will receive total control over their data in a trustless&nbsp;network."|i18n('ton-feature-username-description')|safe
                            ],
                            imageSrc = '/img/ton-username.svg'
                        ) }}
                    </div>
                </div>
            </section>

            <section class="ton__join u-section">
                <div class="u-container u-container--small u-text-center">
                    <h2 class="u-h3">{{ "Join Minter!"|i18n('ton-join-title')|safe }}</h2>
                    <hr class="hr--main hr--short">
                    <p>{{ "If you are willing to become one of the first Minter network users, you may start the signup process via Telegram&nbsp;Passport."|i18n('ton-join-description')|safe }}</p>
                    <div class="button-group">
                        <a class="button button--tg ton__social-link--tg" href="https://bot.minternetwork.com{{ '/ru' if __locale__ === 'ru' }}" target="_blank" rel="nofollow noopener">
                            <img class="button__icon" src="/img/icon-soc-telegram.svg" width="24" height="24" alt="" role="presentation">
                            {{ "Sign in with Telegram"|i18n('ton-telegram-button') }}
                        </a>
                    </div>
                </div>
            </section>

            <section class="u-section">
                <div class="u-container">
                    <h2 class="u-h3">{{ "Follow Us on&nbsp;Social&nbsp;Media"|i18n('ton-social-title')|safe }}</h2>
                    <hr class="hr--left hr--main hr--short">
                    <div class="ton__social-grid">
                        <div class="ton__social-cell">
                            <strong class="ton__social-caption">{{ "Social Networks"|i18n('ton-social-caption-networks')|safe }}</strong>
                            <div class="ton__social-group">
                                <a class="button ton__social-link ton__social-link--tg" href="https://tele.click/{{ 'MinterNetwork' if __locale__ === 'ru' else 'MinterTeam' }}" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-telegram.svg" width="24" height="24" alt="" aria-label="Telegram Channel">
                                </a>
                                <a class="button ton__social-link ton__social-link--tw" href="https://twitter.com/MinterTeam" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-tw.svg" width="24" height="24" alt="" aria-label="Twitter">
                                </a>
                                <a class="button ton__social-link ton__social-link--li" href="https://www.linkedin.com/company/minternetwork/" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-linkedin.svg" width="24" height="24" alt="" aria-label="LinkedIn">
                                </a>
                                {% if __locale__ === 'ru' %}
                                    <a class="button ton__social-link ton__social-link--vk" href="https://vk.com/MinterNetwork" target="_blank" rel="nofollow noopener">
                                        <img class="ton__social-link-icon" src="/img/icon-soc-vk.svg" width="24" height="24" alt="" aria-label="VK">
                                    </a>
                                {% endif %}
                                <a class="button ton__social-link ton__social-link--fb" href="https://www.facebook.com/MinterNetwork" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-fb.svg" width="24" height="24" alt="" aria-label="facebook">
                                </a>
                                <a class="button ton__social-link ton__social-link--gh" href="https://github.com/MinterTeam" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-github.svg" width="24" height="24" alt="" aria-label="Github">
                                </a>
                                <a class="button ton__social-link ton__social-link--mm" href="https://medium.com/@MinterTeam" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-medium.svg" width="24" height="24" alt="" aria-label="Medium">
                                </a>
                                <a class="button ton__social-link ton__social-link--rd" href="https://www.reddit.com/r/Minter/" target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-reddit.svg" width="24" height="24" alt="" aria-label="Reddit">
                                </a>
                            </div>
                        </div>
                        <div class="ton__social-cell">
                            <strong class="ton__social-caption">{{ "Telegram Chat"|i18n('ton-social-caption-chat')|safe }}</strong>
                            <div class="ton__social-group">
                                <a class="button ton__social-link ton__social-link--tg" href="https://tele.click/joinchat/{{ 'EafyEVD-HEOxDcv8YyaqNg' if __locale__ === 'ru' else 'EafyERJSJZJ-nwH_139jLQ' }}"  target="_blank" rel="nofollow noopener">
                                    <img class="ton__social-link-icon" src="/img/icon-soc-telegram.svg" width="24" height="24" alt="" aria-label="Telegram Chat">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
{% endblock %}


{% block scripts %}
    {{ super() }}

    <script src="/js/main.min.js"></script>
    <script src="/js/team.min.js"></script>
{% endblock %}
